<!-- Contact Section -->
<div id="contact" class="text-center reveal-top" appScrollReveal>
  <div class="container">
    <div class="section-title text-center">
      <h2 appScrollReveal class="reveal-top">Contactez-nous</h2>
      <hr />
      <p>
        Vous êtes un particulier, une entreprise ou une copropriété ? Pour toute
        demande, laissez-nous un message et nous y répondrons avec plaisir.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center reveal-left" appScrollReveal>
        <h3>Adresse</h3>
        <hr />
        <div class="contact-item">
          <p>La Chapelle sur Erdre 44240, France</p>
        </div>
      </div>
      <div class="col-md-4 text-center reveal-bottom" appScrollReveal>
        <h3>Horaires</h3>
        <hr />
        <div class="contact-item">
          <p>
            <span class="status-indicator green"></span> Lundi-Vendredi: 08:30 -
            18:00
          </p>
          <p>
            <span class="status-indicator red"></span> Samedi-Dimanche: Fermé
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center reveal-right" appScrollReveal>
        <h3>Contact</h3>
        <hr />
        <div class="contact-item">
          <p>Téléphone: 06 42 00 66 77</p>
          <p>Email: contact&#64;jardica.net</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3>Nous laisser un message</h3>
        <p>
          Pour toutes questions ou demandes de devis, veuillez remplir ce
          formulaire
        </p>
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</div>
