<!-- Footer Section -->
<div id="footer">
  <div class="container">
    <footer
      class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
    >
      <div class="col mb-3">
        <a
          href="/"
          class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
        >
          <img src="./assets/logo.webp" width="200" height="75" />
        </a>
      </div>

      <div class="col mb-3"></div>

      <div class="col mb-3">
        <h5>Plan du site</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Accueil</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#about" class="nav-link p-0 text-body-secondary"
              >A propos</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#services" class="nav-link p-0 text-body-secondary"
              >Prestations</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#portfolio" class="nav-link p-0 text-body-secondary"
              >Realisations</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#contact" class="nav-link p-0 text-body-secondary"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">44240 La Chapelle sur Erdre</li>
          <li class="nav-item mb-2">
            <a href="06 42 00 66 77" class="nav-link p-0 text-body-secondary"
              >06 42 00 66 77</a
            >
          </li>
          <li class="nav-item mb-2">
            <a
              href="contact@jardica.net"
              class="nav-link p-0 text-body-secondary"
              >contact&#64;jardica.net</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">About</a>
          </li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>Restez connecté !</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><app-facebook-icon></app-facebook-icon> Facebook</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><app-instagram-icon></app-instagram-icon> Instagram</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary"
              ><app-google-icon></app-google-icon> Google Buisness</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
