<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="text-center col-md-offset-2 intro-text">
            <h1>Jardi'CA</h1>
            <p>Entretien d'espaces verts & élagage</p>
            <p>
              Une équipe de jardiniers paysagistes passionnés à La
              Chapelle-sur-Erdre
            </p>
            <a href="#about" aria-label="En savoir plus" class="page-scroll">
              <app-arrow-down-icon></app-arrow-down-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
