<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Bienvenue chez <span>Jardi'CA</span></h2>
          <hr />
          <p>
            Jardi'CA est une entreprise Chapelaine, spécialisée dans la création et l'entretien d'espaces verts.
            Notre équipe de passionnés intervient principalement auprès d'une clientèle locale, à la Chapelle sur Erdre et ses alentours. Nous privilégions également un réseau de fournisseurs et de collaborateurs de proximité.
          </p>
          <p>
            Que vous soyez une entreprise, un particulier ou une copropriété, nous mettrons tout en œuvre pour réaliser vos travaux les plus exigeants. Pour connaître le détail de nos prestations, cliquez ici !
            Pour toutes questions ou demandes de devis, cliquez ici !
          </p>
          <a href="#services" class="btn btn-custom btn-lg page-scroll">Voir nos prestations</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="about-media">
          <img src="./assets/notre_mission.webp" alt=" " class="about-image" />
        </div>
        <div class="about-desc">
          <h3>Notre mission</h3>
          <p>
            Chez Jardi'CA, notre mission est de créer des espaces verts harmonieux et durables, en respectant l'environnement et en valorisant la biodiversité locale.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="about-media">
          <img src="./assets/nos_engagements.webp" alt=" " class="about-image" />
        </div>
        <div class="about-desc">
          <h3>Notre engagement</h3>
          <p>
            Nous nous engageons à fournir un service de qualité, en utilisant des méthodes écologiques et en collaborant avec des partenaires locaux pour garantir la satisfaction de nos clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
