<!-- Gallery Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Nos Réalisations</h2>
      <hr />
      <p>
        Explorez nos réalisations et voyez comment nous transformons les espaces
        verts pour nos clients.
      </p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">Tout</a></li>
            <li>
              <a href="#" data-filter=".lawn">Entretien d'espaces verts</a>
            </li>
            <li><a href="#" data-filter=".garden">Création paysagère</a></li>
            <li><a href="#" data-filter=".planting">Élagage</a></li>
            <li>
              <a href="#" data-filter=".planting"
                >Nettoyage de printemps et d'automne</a
              >
            </li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row portfolio-grid no-gutters">
      <div class="col-md-6 mb-3">
        <div class="portfolio-item">
          <a
            href="./assets/portfolio/01-large.jpg"
            title="Project Title"
            data-lightbox-gallery="gallery1"
          >
            <img
              src="./assets/portfolio/01-small.jpg"
              class="img-fluid rounded"
              alt="Project Title"
            />
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="row no-gutters">
          <div class="col-md-6 mb-3">
            <div class="portfolio-item">
              <a
                href="./assets/portfolio/02-large.jpg"
                title="Project Title"
                data-lightbox-gallery="gallery1"
              >
                <img
                  src="./assets/portfolio/02-small.jpg"
                  class="img-fluid rounded"
                  alt="Project Title"
                />
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="portfolio-item">
              <a
                href="./assets/portfolio/03-large.jpg"
                title="Project Title"
                data-lightbox-gallery="gallery1"
              >
                <img
                  src="./assets/portfolio/03-small.jpg"
                  class="img-fluid rounded"
                  alt="Project Title"
                />
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="portfolio-item">
              <a
                href="./assets/portfolio/04-large.jpg"
                title="Project Title"
                data-lightbox-gallery="gallery1"
              >
                <img
                  src="./assets/portfolio/04-small.jpg"
                  class="img-fluid rounded"
                  alt="Project Title"
                />
              </a>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="portfolio-item">
              <a
                href="./assets/portfolio/05-large.jpg"
                title="Project Title"
                data-lightbox-gallery="gallery1"
              >
                <img
                  src="./assets/portfolio/05-small.jpg"
                  class="img-fluid rounded"
                  alt="Project Title"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="portfolio-item">
          <a
            href="./assets/portfolio/06-large.jpg"
            title="Project Title"
            data-lightbox-gallery="gallery1"
          >
            <img
              src="./assets/portfolio/06-small.jpg"
              class="img-fluid rounded"
              alt="Project Title"
            />
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="portfolio-item">
          <a
            href="./assets/portfolio/07-large.jpg"
            title="Project Title"
            data-lightbox-gallery="gallery1"
          >
            <img
              src="./assets/portfolio/07-small.jpg"
              class="img-fluid rounded"
              alt="Project Title"
            />
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="portfolio-item">
          <a
            href="./assets/portfolio/08-large.jpg"
            title="Project Title"
            data-lightbox-gallery="gallery1"
          >
            <img
              src="./assets/portfolio/08-small.jpg"
              class="img-fluid rounded"
              alt="Project Title"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
