<!-- Testimonials Section -->
<div id="testimonials" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="section-title">
            <h2>Avis clients</h2>
            <hr />
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div id="testimonial" class="owl-carousel owl-theme">
            <div class="item">
              <p>
                "Nous avons confié des travaux d’élagage dans notre propriété à l’entreprise Jardi'CA.
                Charlie est très professionnel.
                Je recommande cette entreprise à tous les Chapelains."
              </p>
              <p>- B. Jeremy</p>
            </div>
            <div class="item">
              <p>
                "Sollicité pour la taille des haies d'un jardin ignoré depuis un an... A répondu très rapidement et a été ponctuel au rendez-vous prévu. Travail efficace et propre. Très aimable. Je vous recommande les yeux fermés Jardi'CA !"
              </p>
              <p>- P. Marie</p>
            </div>
            <div class="item">
              <p>
                "Très bonne expérience ! Nous avons sollicité Jardi'CA pour la taille de nos haies. Le travail est soigné, le ramassage aussi. Aucun dégât sur nos autres arbres et arbustes ou dans le potager. Génial ! Nous recommandons sans hésitation !"
              </p>
              <p>- J. Lemaire</p>
            </div>
            <div class="item">
              <p>
                "Le travail effectué a été impeccable, rien à redire. Taille de 2 haies assez grosses et coupe de bambous ont été faites dans le plus grand soin. Le jardin est rendu très propre et il est très gentil.
                Je recommande sans hésiter."
              </p>
              <p>- A. Laurence</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
