<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-white fixed-top z-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.webp" alt="Jardi-ca" width="200" height="75" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Prestations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Réalisations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      <span class="navbar-text">
        <app-phone-icon [isAnimated]="true"></app-phone-icon><a href="tel:0642006677" class="text-decoration-none">Appelez-nous</a>
      </span>
    </div>
  </div>
</nav>
